<head th:fragment="header">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=11"></meta>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/core.css" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/components.css" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/colors.css" rel="stylesheet" type="text/css"></link>
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/ui/prism.min.js"></script>
    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <!-- /theme JS files -->

    <script type="text/javascript" src="assets/js/plugins/notifications/pnotify.min.js"></script>

    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/notification-messages.js"></script>
    <script type="text/javascript" src="js/loader.js"></script>
    <link href="assets/css/loader.css" rel="stylesheet"/>

    <script type="text/javascript" src="js/angular-datepicker.js"></script>
    <link href="assets/css/angular-datepicker.css" rel="stylesheet" type="text/css"/>
</head>