<!DOCTYPE html>
<html lang="en" ng-app="app">

<head th:replace="web/header :: header"></head>

<head>
	<title>Sahyadri Vacations</title>
	<script src="js/custom/home.js"></script>
	<style>
		.navbar-brand>img {
			margin-top: -16px;
			height: 105px;
		}

		.navbar-inverse {
			background-color: #83ae87;
			border-color: #83ae87;
		}

		body {
			font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 13px;
			line-height: 1.5384616;
			color: #333333;
			background-color: rgb(255, 255, 255);
		}

		.grey-bg {
			background-color: #F5F7FA;
		}

		.card {
			border: 1px solid rgb(142 173 138);
			border-radius: 1.25rem;
		}
	</style>
</head>

<body class="grey-bg" ng-controller="homeController">

	<!-- Main navbar -->
	<div th:replace="admin/navbar :: navbar"></div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container" style="min-height: 470px;">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">


					<!-- Main navigation classes -->
					<section id="minimal-statistics">
						<div class="row" style="padding: 2%;">
							<div class="col-xl-3 col-sm-6 col-12">
								<div class="card">
									<div class="card-content">
										<div class="card-body">
											<div class="media d-flex">
												<div class="align-self-center">
													<button type="button" ng-click="createTrip()" class="btn btn-success">Create</button>
													<button type="button" class="btn btn-warning">View</button>
												</div>
												<div class="media-body text-right">
													<h1>278</h1>
													<h1><span><b>Trips</b></span></h1>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 col-12">
								<div class="card">
									<div class="card-content">
										<div class="card-body">
											<div class="media d-flex">
												
												<div class="align-self-center">
													
													<button type="button" class="btn btn-success">Create</button>
													<button type="button" class="btn btn-warning">View</button>
												</div>
												<div class="media-body text-right">
													<h1>278</h1>
													<h1><span><b>Trips</b></span></h1>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 col-12">
								<div class="card">
									<div class="card-content">
										<div class="card-body">
											<div class="media d-flex">
												
												<div class="align-self-center">
													
													<button type="button" class="btn btn-success">Create</button>
													<button type="button" class="btn btn-warning">View</button>
												</div>
												<div class="media-body text-right">
													<h1>278</h1>
													<h1><span><b>Trips</b></span></h1>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-sm-6 col-12">
								<div class="card">
									<div class="card-content">
										<div class="card-body">
											<div class="media d-flex">
												
												<div class="align-self-center">
													
													<button type="button" class="btn btn-success">Create</button>
													<button type="button" class="btn btn-warning">View</button>
												</div>
												<div class="media-body text-right">
													<h1>278</h1>
													<h1><span><b>Trips</b></span></h1>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>


					<!-- /main navigation classes -->



				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
	<!-- Footer -->
	<div th:replace="admin/footer :: footer"></div>
	<!-- /footer -->

</body>

</html>