<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	</meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</meta>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	</meta>
	<title>Sahyadri Vacations Admin Appliances</title>
	 <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/core.css" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/components.css" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/colors.css" rel="stylesheet" type="text/css"></link>
    <link href="assets/css/style.css" rel="stylesheet"></link>
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- /theme JS files -->

    <script type="text/javascript" src="assets/js/plugins/notifications/pnotify.min.js"></script>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/notification-messages.js"></script>
    <script type="text/javascript" src="js/loader.js"></script>
    <link href="assets/css/loader.css" rel="stylesheet"/>
	<script type="text/javascript" src="js/custom/login.js"></script>

</head>

<body ng-controller="loginController">

	<div class="container-fluid medium">
		
		<h2 class="h1 text-center head-text">
			<strong class="head-text">Sahyadri Vacations Admin Appliances </strong>
		</h2>
		
		<div class="container">
			<div class="login-main">
				<div>
					<div>
						<img class="text-center" src="assets/images/svlogo.png" style="width: 150px; margin-left: 25%;" alt="logo"></img>
						<h1 class="text-center">Admin Login</h1>
					</div>
					<div>
						<a id="section-Quality" href="#section-Quality" class="js_anchor-nav-btn anchor-nav-btn">
							<i class="icon-anchor_nav"></i>
						</a>
						<form ng-submit="login()" class="form-horizontal">
							<div class="form-group" style="margin-bottom: 0px;">
								<label class=" control-label" style="font-weight: unset;">Username</label>
								<div class="" style="padding: 0;">
									<div class="input-group" style="width: 100%;">
										<input class="form-control" required="required" ng-model="username"
											name="password" placeholder="Admin username"></input>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label style="font-weight: unset;" class=" control-label">Password</label>
								<div class="" style="padding: 0;">
									<div class="input-group" style="width: 100%;">
										<input type="password" required="required" class="form-control"
											ng-model="password" name="password" placeholder="Password"></input>
									</div>
								</div>
							</div>
							<div class="form-group last" style="margin: 0px; width: 100%;">
								<div class="form-group login-button">
									<button type="submit" class="btn" id="myButton">Login</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {

			$(window).scroll(function () {
				if ($(this).scrollTop() > 100) {
					$('.scrollToTop').fadeIn();
				} else {
					$('.scrollToTop').fadeOut();
				}
			});

			//Click event to scroll to top
			$('.scrollToTop').click(function () {
				$('html, body').animate({
					scrollTop: 0
				}, 800);
				return false;
			});

		});
	</script>

</body>

</html>