<header th:fragment="navbar">
	<!-- header inner -->
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
					<div class="full">
						<div class="center-desk">
							<div class="logo" style="max-width: 40%"> <a href="index.html"><img
										src="assets/images/svlogo.png" alt="#"></a> </div>
						</div>
					</div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
					<div class="menu-area">
						<div class="limit-box">
							<nav class="main-menu">
								<ul class="menu-area-main">
									<li class="active"> <a href="#">Home</a> </li>
									<li > <a href="#"
											class="dropdown-toggle" data-toggle="dropdown"
											th:text="${session.user.firstName + ' ' + session.user.lastName + ' ( '+ session.user.designation + ')'}"><i class="glyphicon glyphicon-user"></i></a>
										<ul>
											<li><a href="/technician/my-profile">My Profile</a></li>
											<li><a id="logoutTechnician" href="/logout">Log out</a></li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header inner -->
</header>