<!DOCTYPE html>
<html lang="en" ng-app="app">

<head th:replace="web/header :: header"></head>

<head>
	<title>Sahyadri Vacations</title>
	<link href="css/custom.css" rel="stylesheet">
	</link>
	<script type="text/javascript" src="js/web/home.js"></script>
</head>
<!-- body -->

<body class="main-layout" ng-controller="homeController">
	<div class="loader_bg">
		<div class="loader"><img src="images/loading.gif" alt="#" /></div>
	</div>
	<!-- end loader -->
	<!-- header -->
	<div th:replace="web/navbar :: navbar"></div>

	<div id="blog" class="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<h2> Contact Us </h2>
						<span>coming soon</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="blog-box">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end our blog -->

	<!-- footer -->
	<div th:replace="web/footer :: footer"></div>
	<!-- end footer -->

	<script>
		$(document).ready(function () {
			var owl = $('.owl-carousel');
			owl.owlCarousel({
				margin: 10,
				nav: true,
				loop: true,
				responsive: {
					0: {
						items: 1
					},
					600: {
						items: 2
					},
					1000: {
						items: 3
					}
				}
			})
		})
	</script>
</body>

</html>