<!DOCTYPE html>
<html lang="en" ng-app="app">

<head th:replace="web/header :: header"></head>

<head>
	<title>Sahyadri Vacations</title>
	<link href="css/custom.css" rel="stylesheet">
	</link>
	<script type="text/javascript" src="js/web/home.js"></script>
</head>
<!-- body -->

<body class="main-layout" ng-controller="homeController">
	<div class="loader_bg">
		<div class="loader"><img src="images/loading.gif" alt="#" /></div>
	</div>
	<!-- end loader -->
	<!-- header -->
	<div th:replace="web/navbar :: navbar"></div>

	<div id="blog" class="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<h2> Upcoming Trips </h2>
						<span>Conservation of earth is the sign of humanity,</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="blog-box">
						<figure><img class="img-h" src="images/kalsubai.webp" alt="#" />
							<span>4 Feb 2019</span>
						</figure>
						<div class="travel">
							<span>From : Pune</span>
							<p><strong class="Comment"> 06 </strong> Comment</p>
							<p><strong class="like">05 </strong>Like</p>
						</div>
						<p><span class="line-item trip-duration"><i class="icon fa fa-clock-o"></i>3 Nights 2
								Days</span></p>
						<h3>Kalsubai Trek</h3>
						<p></p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="blog-box">
						<figure><img class="img-h" src="images/hamppi.jpg" alt="#" />
							<span>10 Feb 2019</span>
						</figure>
						<div class="travel">
							<span>From : Mumbai</span>
							<p><strong class="Comment"> 06 </strong> Comment</p>
							<p><strong class="like">05 </strong>Like</p>
						</div>
						<p><span class="line-item trip-duration"><i class="icon fa fa-clock-o"></i>3 Nights 2
								Days</span></p>
						<h3>Hamppi Amazing Tour</h3>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="blog-box">
						<figure><img class="img-h" src="images/raigad.jpg" alt="#" />
							<span>4 Feb 2019</span>
						</figure>
						<div class="travel">
							<span>From : Pune</span>
							<p><strong class="Comment"> 06 </strong> Comment</p>
							<p><strong class="like">05 </strong>Like</p>
						</div>
						<p><span class="line-item trip-duration"><i class="icon fa fa-clock-o"></i>3 Nights 2
								Days</span></p>
						<h3>Raigad Fort Trek</h3>
						<p></p>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 10%;">
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="blog-box">
						<figure><img class="img-h" src="images/kaspathar.jpg" alt="#" />
							<span>4 Feb 2019</span>
						</figure>
						<div class="travel">
							<span>From : Pune</span>
							<p><strong class="Comment"> 06 </strong> Comment</p>
							<p><strong class="like">05 </strong>Like</p>
						</div>
						<p><span class="line-item trip-duration"><i class="icon fa fa-clock-o"></i>3 Nights 2
								Days</span></p>
						<h3>KasPathar Tour</h3>
						<p></p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="blog-box">
						<figure><img class="img-h" src="images/malvan.jpg" alt="#" />
							<span>10 Feb 2019</span>
						</figure>
						<div class="travel">
							<span>From : Pune</span>
							<p><strong class="Comment"> 06 </strong> Comment</p>
							<p><strong class="like">05 </strong>Like</p>
						</div>
						<p><span class="line-item trip-duration"><i class="icon fa fa-clock-o"></i>3 Nights 2
								Days</span></p>
						<h3>Malavan Amazing Tour</h3>
						<p></p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="blog-box" ng-click="viewTrip()">
						<figure><img class="img-h" src="images/kalavantin.jpg" alt="#" />
							<span>4 Feb 2019</span>
						</figure>
						<div class="travel">
							<span>From : Pune</span>
							<p><strong class="Comment"> 06 </strong> Comment</p>
							<p><strong class="like">05 </strong>Like</p>
						</div>
						<p><span class="line-item trip-duration"><i class="icon fa fa-clock-o"></i>3 Nights 2
								Days</span></p>
						<h3>Kalavantin Durg Trek</h3>
						
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end our blog -->

	<!-- footer -->
	<div th:replace="web/footer :: footer"></div>
	<!-- end footer -->

	<script>
		$(document).ready(function () {
			var owl = $('.owl-carousel');
			owl.owlCarousel({
				margin: 10,
				nav: true,
				loop: true,
				responsive: {
					0: {
						items: 1
					},
					600: {
						items: 2
					},
					1000: {
						items: 3
					}
				}
			})
		})
	</script>
</body>

</html>