<!DOCTYPE html>
<html lang="en" ng-app="app">

<head th:replace="web/header :: header"></head>

<head>
	<title>Sahyadri Vacations</title>
	<link href="css/custom.css" rel="stylesheet">
	</link>
	<script type="text/javascript" src="js/web/home.js"></script>
</head>
<!-- body -->

<body class="main-layout" ng-controller="homeController">
	<div class="loader_bg">
		<div class="loader"><img src="images/loading.gif" alt="#" /></div>
	</div>
	<!-- end loader -->
	<!-- header -->
	<div th:replace="web/navbar :: navbar"></div>

	<div id="blog" class="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<h2> Kalavantin Durg Trek </h2>
						<span>Conservation of earth is the sign of humanity,</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="blog-box">
						<div style="display: flex;">
							<figure><img class="img-h" src="images/kalsubai.webp" alt="#" /></figure>
							<figure><img class="img-h" src="images/kalsubai.webp" alt="#" /></figure>
							<figure><img class="img-h" src="images/kalsubai.webp" alt="#" /></figure>
						</div>
						<p>
							Kalavantin Durg, situated adjacent to the Prabalgad Fort, was an ancient watchtower
							strategically placed along the old Mumbai-Pune trade route. This fort is known for its
							breathtaking rock-cut steps, which wind up the mountain and bring hikers to the peak. It is
							considered a marvel of architecture because of these steps. As you make your way up the
							winding staircases, the breathtaking natural beauty of your surroundings and the adrenaline
							rush of an exposed climb will leave you in hypnotic awe.
						</p>
						<p>
							When you reach the top, you'll be rewarded with a breathtaking view that takes in the
							surrounding mountains, valleys, and the sprawling cityscape below you. It is impossible to
							adequately describe the overwhelming sense of achievement that comes with overcoming the
							challenging fort, which is why this is the kind of adventure that you will remember and
							value for the rest of your life.
						</p>
						<p>
							In addition to its historical significance, Kalavantin Durg is a trekker's paradise,
							offering a perfect blend of adventure and scenic beauty. It should come as no surprise that
							this hike is a favourite among those who are interested in adventure because the terrain is
							both challenging and beautiful at the same time. Therefore, if you are looking for an
							adventure that will provide you with adrenaline and the opportunity to take in the area's
							breathtaking scenery, the Kalavantin Durg trek is an excursion you should not pass up!
						</p>
						<hr><br>
						<div style="display: inline-block; width: 100%;">
							<div style="float: left; width: 50%;">
								<h3 style="color: rgb(0, 128, 128);">In our package</h3>
								<ui>
									<li>test 1</li>
									<li>test 1</li>
									<li>test 1</li>
									<li>test 1</li>
								</ui>
								
							</div>
							<div>
								<h3 style="color: rgb(0, 128, 128);">You</h3>
								<ui>
									<li>test 1</li>
									<li>test 1</li>
									<li>test 1</li>
									<li>test 1</li>
								</ui>
							</div>
							
						</div>
						<div class="travel">
							<span>From : Pune</span>
							<p><strong class="Comment"> Route : </strong> Pune -> Lonavala -> Panvel -> Prabalgad </p>
						</div>
						<div>
							Time Schedule :-
							<p>1. Day 1: 7 pm. Pick up.</p>
							<p>1. Day 1: 8 pm. Maval</p>
							<p>1. Day 1: 10 pm. Lonavla</p>
							<p>1. Day 1: 10 pm - 10:30 . breakfast</p>
							<p>1. Day 1: 11:30 pm. Kalavanitin Durg</p>
							<p>1. Day 1: 1 pm. Kalavanitin durg for Top</p>
							<p>1. Day 1: 2.30 pm Bottem Tp kalavantin</p>
							<p>1. Day 1: 3 pm - 4 Pm . Lunch </p>
							<p>1. Day 1: 8:30 Pm for Home</p>
							<p><span class="line-item trip-duration"><i class="icon fa fa-clock-o"></i>3 Nights 2
								Days</span></p>
						</div>
						<div class="travel">
							<button ng-click="book()" style="padding: 1%;margin: 1px;background: #df9a3e;color: white;"> Book Now</button>
						</div>
						<div class="travel">
							<p><strong class="Comment"> 06 </strong> Comment</p>
							<p><strong class="like">05 </strong>Like</p>
						</div>
						
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end our blog -->

	<!-- footer -->
	<div th:replace="web/footer :: footer"></div>
	<!-- end footer -->

	<script>
		$(document).ready(function () {
			var owl = $('.owl-carousel');
			owl.owlCarousel({
				margin: 10,
				nav: true,
				loop: true,
				responsive: {
					0: {
						items: 1
					},
					600: {
						items: 2
					},
					1000: {
						items: 3
					}
				}
			})
		})
	</script>
</body>

</html>